*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav section start  */




.nav-section{
    display: flex;
    max-width: 980px;
    margin: 0 auto;
     flex-direction: row;
     gap: 20px;
     justify-content: space-between;
    padding: 20px 0 ;
    margin-bottom: 10px;
    align-items: center;
   
}
.nav-btn{
    padding: 10px 20px;
    font-weight: bold;
    background-color:white ;
    border-radius: 5px;
    border: 1px solid rgb(13, 19, 33);
}
.text-size{
    font-weight: bolder;
    color: rgb(13, 19, 33);
    font-size: 25px;
}






/* banner section start  */





.banner-section{
    background-image: url('./assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
background-position: center;
width: 1500px;
height: 552px;
}
.anchor{
    text-decoration: none;
    color: white;
}
.banner-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
gap: 20px;
}

.button-sizzing{
    padding: 15px 15px 15px 15px;
  text-align: center;
  background-color: rgb(13, 19, 33);
  color: white;
  border-radius: 5px;
text-decoration: none;

}


.banner2-section-container{
    width: 880px;
   
    margin: 80px auto;
    background-color: rgba(13, 19, 33, 0.02);;
    border-radius: 10px;
   
}
.box-container{
    margin: 50px 50px;
   
    
}





/* why web development section start  */




.why-text-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin: 40 auto;
    margin-bottom: 10px;
    padding: 50px;
}

.img-text-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 10px;
    padding: 30px;
    gap: 50px;

}
.text-backcolor{
    background-color: rgb(255, 255, 255)
    rgba(255, 255, 255, 0);
   justify-content: center;
   align-items: center;
    border-radius: 15px;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.text-backcolor button{
    padding: 10px 20px;
    font-weight: bold;
    background-color:white ;
    margin-top: 30px;
}
.text-backcolor-container{
    margin: 40px auto;
    align-items: center;
}
.btn-container{
    padding: 10px 20px;
    font-weight: bold;
} 


/* <!-- My Inspiration Target section  --> */



.inspi-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   gap: 30px;
}
.vieo-section-container{
     margin: 25px auto;
     border: 2px solid rgba(13, 19, 33, 0.2);;
     border-radius: 10px;
     padding: 30px;
     
}





/* section My Current Target */




.target-text-containter{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 gap: 40px;
}
.main-parent-container{
    display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: row;
    margin-top: 40px;
    gap: 50px;
   padding: 50px;
   margin-bottom: 50px;
}
.firstimg{
    background-color: rgba(255, 76, 30, 0.05);;
    border-radius: 15px;
    padding: 40px;
    
}
.secimg{
    background-color: rgba(0, 76, 232, 0.05);;
    border-radius: 15px;
    padding: 40px;
    
}
.thirdimg{
    background-color: rgba(255, 223, 0, 0.05);;
    border-radius: 15px;
    padding: 40px
}



/* <!-- I need Support  --> */



.support-section-container{
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    height: 330px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 50px;
    width: 980px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    background-image: url("./assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}
.support-container{
   
    justify-content: center;
    align-items: center;
   
    text-align: center;
   
}
.support-container p{
margin-bottom:30px;

}
.support-container input{
    width: 448px;
height: 40px;
border-radius: 5px;
border: none  ;
background-color: rgb(255, 255, 255);;
}
.support-container button{
    width: 100px;
height: 40px;
border-radius: 5px;
border: none  ;
}



/* An Open Commitment by Nahida  */





.footer-main-container{
  max-width: 980px;
  margin: 0 auto;
    margin-top: 50px ;
    display: flex;
   flex-direction: row;gap: 20px;
   justify-content: space-between;
  padding:80px  ;

   padding: 42px 30px 42px 30px;
  
}
#challenge{
    background-color: rgba(13, 19, 33, 0.03);
}
.icon-size{
    display: flex;
    gap: 30px;
}
