.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-section{
    background-image: url('./assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
background-position: center;
width: 1500px;
height: 552px;
}

.banner-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.button-sizzing{
    padding: 15px 15px 15px 15px;
  text-align: center;
  background-color: rgb(13, 19, 33);
  color: white;
  border-radius: 5px;

}


.banner2-section-container{
    width: 880px;
   
    margin: 80px auto;
    background-color: rgba(13, 19, 33, 0.02);;
    border-radius: 10px;
   
}
.box-container{
    margin: 50px 50px;
   
    
}
.why-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.img-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 10px;
    

}
.text-backcolor{
    background-color: rgb(255, 255, 255)
    rgba(255, 255, 255, 0);
   
    border-radius: 15px;
}
.text-backcolor button{
    padding: 10px 20px;
    font-weight: bold;
    background-color:white ;
}
.text-backcolor-container{
    margin: 40px auto;
    align-items: center;
}
.btn-container{
    padding: 10px 20px;
    font-weight: bold;
} 
.{
   
}
.inspi-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.vieo-section-container{
     margin: 25px auto;
     border: 2px solid rgba(13, 19, 33, 0.2);;
     border-radius: 10px;
     padding: 30px;
     
}

/* section My Current Target */
.target-text-containter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
}
.main-parent-container{
    display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 40px;
   
}
.firstimg{
    background-color: rgba(255, 76, 30, 0.05);;
    border-radius: 15px;
    padding: 40px;
    
}
.secimg{
    background-color: rgba(0, 76, 232, 0.05);;
    border-radius: 15px;
    padding: 40px;
    
}
.thirdimg{
    background-color: rgba(255, 223, 0, 0.05);;
    border-radius: 15px;
    padding: 40px
}

.support-section-container{
    margin: o auto;;
    border: 2px solid red;
    height: 330px;
    width:80% ;
}